.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 100vh;
}

.logo {
  height: 10dvh;
}


a {
  text-decoration: none;
}

.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.border-custom {
  border-right: solid;
}

.icon-display {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.nav-name {
  display: none;
}





@media screen AND (max-width: 768px) {

  .side-bar {
    height: 100vh;
  }

  .logo {
    height: 8dvh;
  }


}

@media screen AND (max-width: 425px) {

  .side-bar {
    flex-direction: row;
    padding: 0;
    height: 10dvh;
  }

  .logo {
    height: 8dvh;
  }

  .border-custom {
    border-right: hidden;
  }

  .contact-icons {
    gap: 10px;
  }

  .icon-display {
    font-size: 1.56rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .nav-name {
    display: inline;
    padding: 0em .1em 0em
  }

  .body-name {
    display: none;
  }
}