/* global */

a {
  text-decoration: none;
  color: #0b429d;
}

.body-wrapper {
  display: flex;
}

* {
  outline: 1px solid red;
}

/* Sidebar nav */
.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 100vh;
  top: 0;
  position: sticky;
}

.logo {
  height: 10dvh;
}

.border-custom {
  border-right: solid;
  background-color: white;
}

.icon-display {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.nav-wrapper {
  display: flex;
}

.nav-name {
  display: none;
}


/* hero section */
.main-landing {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.jp-photo {
  height: 60dvh;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
}




/* Review and portfolio Section */
.reviews,
.portfolio {
  min-height: 50vh;
  margin-top: 50px;
  display: flex;
  align-items: center;
}



/* portfolio images */

.portfolio-img {
  max-height: 350px;
  width: 350px;
  object-fit: cover;
  object-position: top;
}



/* review cards */
.review-card {
  height: fit-content;
}

/* Contact sectio */

.contact-info {
  font-size: 1.75rem;
}


/* fonts and bootstrap adjustments */
.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.cutive-mono-regular {
  font-family: "Cutive Mono", monospace !important;
  font-weight: 400 !important;
  font-style: normal !important;
  text-decoration: underline;
}

.cutive-mono-regular-no-underline {
  font-family: "Cutive Mono", monospace !important;
  font-weight: 400 !important;
  font-style: normal !important;
}


.btn-outline-info {
  --bs-btn-color: #0b429d;
  --bs-btn-border-color: #0b429d;
  --bs-btn-hover-color: #ffff;
  --bs-btn-hover-bg: #0b429d;
  --bs-btn-hover-border-color: #0b429d;
  --bs-btn-focus-shadow-rgb: 13, 202, 240;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #0b429d;
  --bs-btn-active-border-color: #0b429d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0b429d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0b429d;
  --bs-gradient: linear;
}


/* media queries */

@media screen AND (max-width: 768px) {

  /* nav */
  .logo {
    height: 8dvh;
  }

  /* hero */

  /* portfolio section */

  .portfolio-img {
    margin-top: 15px;
  }

  /* reviews section */

  .review-card {
    margin-top: 15px;
  }
}

@media screen AND (max-width: 425px) {

  /* global/body */

  .body-wrapper {
    display: unset;
    overflow-x: hidden;
  }


  /* nav */
  .side-bar {
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    height: 10dvh;
    position: unset;
  }

  .logo {
    height: 8dvh;
  }

  .border-custom {
    border-right: hidden;
  }

  .contact-icons {
    gap: 10px;
  }

  .icon-display {
    font-size: 1.56rem;
    font-weight: 300;
    line-height: 1.2;
  }

  .nav-name {
    display: inline;
    padding: 0em .1em 0em
  }

  .body-name {
    display: none;
  }

  .nav-wrapper {
    display: unset;
  }

  /* hero */

  .hero-text {
    padding: 1rem;
  }

  .jp-photo {
    padding-left: 10px;
    padding-right: 10px;
    height: 50dvh;
  }



  /* portfolio */

  .portfolio-img {
    max-height: 30dvh;
    width: 30dvh;
    object-fit: cover;
    object-position: top;
  }


  /* contact */

  .contact-info {
    font-size: 1rem;
  }
}